* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
    .header {
        .header1 {
            .header2 {
                display: flex;
                align-items: center;
                gap: 10px;
                p {
                    color: #E31E24;
                }
            }
            .header3 {
                margin-bottom: 50px;
                p {
                    font-weight: 100;
                    font-size: 20px;
                }
            }
            .header4 {
                .header5 {
                    display: flex;
                    gap: 10px;
                    p {
                        margin-top: -1px;
                    }
                }
                .header6 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    a {
                        color: #000;
                        text-decoration: none;
                        border-bottom: 1px solid rgb(169, 169, 169);
                    }
                }
                .header7 {
                    p {
                        color: #E31E24;
                        font-size: 20px;
                        border-bottom: 1px solid #E31E24;
                        width: 230px;
                    }
                }
            }
        }
    }
    .head2 {
        img {
            width: 100%;
        }
    }
}







@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.had {
    position: relative;
    // position: fixed;
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    background-color: #FFF;
}

.had .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .logo-wrap {
        width: 75%;
        display: flex;
        justify-content: space-between;
        .logo-wrap2 {
            display: flex;
            gap: 10px;
            div {
                a {
                    font-weight: 100;

                }
            }
        }
        .cla {
            a {
                color: #000;
            }
        }
    }
}

.logo2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;

    .food {
        color: #FCC647;
    }

    .color {
        font-weight: 400;
        font-size: 15px;
        color: black;
    }
}

.logo2 span {
    color: #ef476f;
}

.navigation {
    position: relative;
    nav {
        ul {
            li {
                display: none;
            }
        }
    }
}

.navigation ul {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul li {
    margin-left: -600px;
}

.navigation a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    transition: 0.5s;
}

.navigation a::before {
    content: "" attr(data-menu) "";
    position: absolute;
    z-index: 1;
    color: #ef476f;
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.navigation a:hover::before {
    width: 100%;
}

input#toggle-icon,
.toggle-icon {
    display: none;
}
.shovcase1 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    h1 {
        font-size: 50px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        font-weight: 100;
    }
}
.shovcase2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 40px;
    .shovcase3 {
        text-align: center;
    }
    .tayoq {
        img {
            background-color: rgb(157, 157, 157);
        }
    }
    div {
        .shovcase5 {
            color: #E31E24;
        }
    }
}
.Преимущества {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    h1 {
        font-weight: 100;
    }
    img {
        width: 100%;
    }
    .command {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 100;
    }
}
.katta {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 100px;
    .katta1 {
        width: 80%;
        img {
            width: 90%;
        }
        h1 {
            font-weight: 100;
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}
.lkas {
    width: 90%;
    margin: auto;
    .lkas2 {
        display: flex;
        gap: 30px;

        div {
            margin-top: 20px;
            h3 {
                font-weight: 100;
            }
            .ras {
                border-bottom: 3px solid rgb(255, 0, 0);
            }
            margin-bottom: 30px;
        }
    }
    .jiloy {
        font-weight: 100;
        margin-bottom: 50px;
    }
}
.rasm6 {
    width: 90%;
    margin: auto;
    .rasm61 {
        display: flex;
        justify-content: space-evenly;
        img {
            width: 100%;
        }
    }
}
.Условия {
    width: 90%;
    margin: auto;
    h1 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 30px;
    }
}
.uchtalik {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    img {
        width: 100%;
    }
}
.albison {
    width: 90%;
    margin: auto;
}
.button {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    button {
        padding: 15px 50px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 3px;
    }
}
.Типовые {
    text-align: center;
    margin-bottom: 40px;
    h1 {
        font-size: 40px;
        font-weight: 100;
        font-family: sans-serif;
        font-style:initial;
    }
}
.комнатные {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 50px;
    .birinchi {
        h3 {
            border-bottom: 2px solid red;
        }
    }
    .ikkinchi {
        h3 {
            font-weight: 100;
        }
    }
}
.kom {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
    .kom1 {
        h2 {
            font-weight: 100;
        }
        .but {
            .but3 {
                all: unset;
                padding: 15px 50px;
                background-color: red;
                border: 1px solid #E31E24;
                border-radius: 5px;
                color: #fff;
            }
        }
        .kom2 {
            display: flex;
            justify-content: space-between;
            gap: 100px;
            width: 100%;
            border-bottom: 1px solid #000;
            padding: 10px;

        }
    }
    .chiz {
        img {
            width: 100%;
        }
    }
}
.strelka {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.uw {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: auto;
    img {
        width: 100%;
    }
}
.ikxi {
    display: flex;
    gap: 20px;
    width: 74%;
    margin: auto;
}
.oylar {
    width: 90%;
    margin: auto;
    .oy {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        div {
            h5 {
                font-weight: 500;
            }
        }
        .dekabr {
            h5 {
                font-weight: 700;
                font-size: 20px;
                border-bottom: 1px solid red;
            }
        }
    }
}
.bino {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin: auto;
    .bino1 {
        img {
            width: 100%;

        }
    }
}
.manzara {
    width: 90%;
    margin: auto;
    .manzara1 {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-top: 30px;
        margin-bottom: 40px;
        .manzara2 {
            width: 100%;
            border: 1px solid gray;
            border-radius: 5px;
            img {
                width: 100%;
            }
            h2 {
                font-weight: 100;
                padding: 20px;
            }
        }
        .manzara22 {
            width: 100%;
            border: 1px solid gray;
            border-radius: 5px;
            img {
                width: 100%;
            }
            h2 {
                font-weight: 100;
                padding: 20px;
            }
        }
    }
}
.bce {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    a {
        color: #000;
        border-bottom: 1px solid #000;
    }
}
fieldset {
    width: 90%;
    margin: auto;
    legend {
        margin-left: 10px;
    }
    .lehend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    input {
        width: 100%;
        height: 30px;
        padding: 20px;
    }
    button {
        all: unset;
        padding: 13px 55px;
        background-color: #E31E24;
        color: #fff;
        border-radius: 5px;
        
    }
    p {
        width: 97%;
        margin: auto;
    }
}
.map {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    img {
        width: 100%;
    }
}

.footer {
    width: 90%;
    margin: auto;
    p {
        margin-bottom: 30px;
    }
    .p {
        color: #333333;
    }
}
























@media (max-width: 2000px) {
    .had {
        padding: 20px 40px;
    }

    .logo {
        font-size: 17px;
    }

    .navigation ul li {
        margin-left: 30px;
    }

    .navigation a {
        font-size: 56px;
    }
}


@media (max-width: 680px) {
    .navigation {
        nav {
            ul {
                li {
                    display: block;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .had {
        padding: 20px 50px;
        padding-bottom: 40px;
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background: #ef476f;
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white;
        padding: 15px 10px;
    }

    .navigation a::before {
        color: #ffd166;
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;
    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }
}

@media (max-width: 1100px) {
    .manzara {
        .manzara1 {
            flex-direction: column;
            // flex-wrap: wrap;
            // flex-wrap: wrap;
            .manzara22 {
                display: none;
            }
        }
    }
}

@media (max-width: 930px) {
    .head {
        .head2 {
            .had {
                .inner {
                    .logo-wrap {
                        .logo-wrap2 {
                            .logo-wrap33 {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .kom {
        flex-direction: column;
        gap: 30px;
    }
    .head {
        flex-direction: column-reverse;
        .header {
            .header1 {
                // display: flex;
                .header3 {
                    display: flex;
                    gap: 30px;
                    flex-wrap: wrap;
                }
                .header4 {
                    .kickinarganda {
                        display: flex;
                        gap: 30px;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .комнатные {
        flex-direction: column;
        gap: 30px;
    }
    .uw {
        flex-direction: column;
        img {
            width: 100%;
            height: 400px;
        }
    }
    .oylar {
        .oy {
            flex-direction: column;
            gap: 30px;
            text-align: center;
        }
    }
    .bino {
        flex-direction: column;
    }
    fieldset {
        .lehend {
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media (max-width: 800px) {
    .head {
        .head2 {
            .had {
                .inner {
                    .logo-wrap {
                        .logo-wrap2 {
                            .lohho {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .head {
        .head2 {
            .had {
                .inner {
                    .logo-wrap {
                        .cla {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .shovcase2 {
        flex-direction: column;
        gap: 30px;
        .tayoq {
            display: none;
        }
    }
    .katta {
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .rasm6 {
        display: flex;
        .rasm61 {
            flex-direction: column;
            gap: 20px;
            margin-left: 20px;
        }
    }
    .lkas {
        .lkas2 {
            flex-direction: column;
        }
    }
    .uchtalik {
        flex-direction: column;
        gap: 20px;
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .head {
        flex-direction: column-reverse;
        .header {
            .header1 {
                // display: flex;
                .header3 {
                    display: flex;
                    gap: 30px;
                    flex-wrap: wrap;
                }
                .header4 {
                    .kickinarganda {
                        flex-direction: column;
                        gap: 10px;
                        text-align: start;
                    }
                }
            }
        }
    }
}


@media (max-width: 450px)  {
    .rasm6 {
        flex-direction: column;
        .rasm61 {
            // display: flex;
            // gap: 20px;
            // margin-left: 20px;
        }
    }
    .button {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .head {
        flex-direction: column-reverse;
        .header {
            .header1 {
                // display: flex;
                .header3 {
                    flex-direction: column;
                    gap: 30px;
                    flex-wrap: wrap;
                }
                .header4 {
                    .kickinarganda {
                        flex-direction: column;
                        gap: 10px;
                        text-align: start;
                    }
                }
            }
        }
    }
}



@media (max-width: 400px) {
    .Условия {
        h1 {
            font-size: 25px;
        }
    }
}